*{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.m-site{
    margin-top: 10%
}

/*input[type="file"] {
    display: compact;
    height: 123px;
    border-radius: 5%;
    border: solid 1px #000000;
    background: #ffffff;
    cursor: pointer;
    content: none;
}*/

.text-file{
    text-align: center;
    color: #ffffff;
}

.div-file {
    position: relative;
    padding: 10px;
    background:  #2499e3;
}

.input-file{
    position: absolute;
    top: 0px !important;
    left: 0px !important;
    right: 0px !important;
    bottom: 0px !important;
    width: 100% !important;
    height: 100% !important;
    opacity: 0;
}

.img-profile{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.bg-site {
    background: #EA7277;

}

.text-site{
    color: #EA7277;
}

.btn-site{
    margin-top: 5%;
    border: solid 2px #EA7277;
    color: #EA7277;
}

.btn-site:hover{
    color: #ffffff;
    background: #EA7277;
}

/* Configuración de alertas*/
#__react-alert__ div div div {
    width: auto !important;
}


/* Estilos de Formularios finales */

.forms{
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
}

.section-image {
    background: #1E8ADA;
    text-align: center;
}

.container-icon{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    padding-top: 7%;
    padding-bottom: 7%;
    border-radius: 50%;
    background: #ffffff;
}

.text-image{
    margin-top: 20%;
    margin-bottom: 20%;
    font-size: 1.7em;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 600;
}

.section-form {
    padding-top: 10%;
}

.form-control {
    border: solid 0px;
}

.input-site {
    margin-top: 5%;
    text-align: left;
    font-size: 18px;
    border-bottom: solid 1px #1E8ADA;
    border-radius: 0px;
    color: #1E8ADA;
}

input:focus, input.form-control:focus {
    outline: none ;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border: solid 0;
}

.form-control::placeholder{
    color: #1E8ADA;
}

.input-site:focus{
    border-bottom: solid 1px #1E8ADA !important;
    color: #1E8ADA;
}

.container-btn{
    padding-top: 5%;
}

.btn-site{
    border: solid 2px #1E8ADA;
    color: #1E8ADA;
}

.btn-site:hover{
    color: #ffffff;
    background: #1E8ADA;
}






