{% extends 'base.html' %}
{% load  static %}

{% block page_title %}
    PROMYPHO
{% endblock page_title %}

{% block css_page %}
    <link rel="stylesheet", href="{% static 'frontend/css/main.css' %}">
{% endblock css_page %}

{% block content_page %}
    <div id="app"></div>
{% endblock content_page %}

{% block js_Paje %}
    <!-- URL de la clase main.js generado en script dev -->
    <script src="{% static 'frontend/main/main.js' %}"></script>
{% endblock js_Paje %}