{% extends 'frontend/index.html' %}

{% block page_title %}
    Verificación de Correo
{% endblock page_title %}

{% block content_page %}
    <section class="container">
        <section class="row m-site">
            <div class="col-8 m-auto card card-body alert-info">
                <div class="alert col-10 m-auto text-center m-site
                    {% if verify_email.status == 200 or verify_email.status == 202 %}
                        alert-primary
                    {% elif verify_email.status == 403 %}
                        alert-danger
                    {% elif verify_email.status == 406 %}
                        alert-warning
                    {% endif %}
                    ">
                        {{ verify_email.email }}
                </div>
                <br>
                <div class="col-4 m-auto m-site text-center">
                    <a class="btn btn-primary" href="/">
                        Ir al Sistema
                    </a>
                </div>
            </div>
        </section>
    </section>
{% endblock content_page %}

{% block js_Paje %}{% endblock js_Paje %}
